# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
runs

# Java
*.hprof
*.class
*.log

# Temporary files
*.tmp
*.temp
*.bak
*.backup

